/TestAdd.class
/TestAddAll.class
/TestConstruction.class
/TestFindMostPopularProduct.class
/TestFindPriceOfMostExpensiveProduct.class
/TestFindProduct.class
/TestFindUpcWithHighestRevenue.class
/TestFindUpcWithLowestRevenue.class
/TestGetTotalRevenue.class
/TestRemove.class
